/*
   Color Scheme based off of InteliJ's Dracula Theme
*/

body {
	background: #2B2B2B;
	color: #D8D8D8;
}

a {
	color: #79ABFF;
}

footer {
	border-width: 25%;
	border-top: 2px solid white;
}