/* TODO Gridify https: //css-tricks.com/snippets/css/complete-guide-grid/ */

:root {
    --twitch-color: #6541A5;
    --twitter-color: #6CADDE;
    --youtube-color: #CC181E;
    --github-color: #171515;
    --warning-color: #D25252;

    --white-rgb: 255, 255, 255;
    --light-white-rgb: 128, 128, 128;
    --dark-gray-rgb: 50, 50, 50;
    --darker-gray-rgb: 35, 35, 35;
    --black-rgb: 0, 0, 0;
}

@media screen and (max-width: 800px) {
    #left {
        display: none;
    }

    #right {
        width: 80% !important;
        padding-right: 10% !important;
    }

    /* TODO: Display navbar button */
    nav .icons {
        display: none;
    }

    .desktop-only {
        display: none;
    }
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    color: rgb(var(--white-rgb));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.7)), url("/images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    overflow-y: scroll;
}

a, a:visited {
    color: rgb(var(--white-rgb));
}

button {
    cursor: pointer;
    color: rgb(var(--dark-gray-rgb));
    background: rgba(var(--white-rgb), 0.9);
    border-radius: 3px;
    border: 1px solid rgb(var(--darker-gray-rgb));
    padding: 5px;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    object-fit: contain;
    width: calc(100% - 40px);
    border: 2px solid rgba(var(--darker-gray-rgb), 0.8);
}

article {
    background: rgba(var(--light-white-rgb), 0.4);
    padding: 10px;
    border: 2px solid rgb(var(--darker-gray-rgb));
    border-radius: 10px;
    margin-bottom: 30px;
}

hr {
    width: 78%;
    /* border: 0; */
    height: 1px;
    /* background: #333; */
    /* background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
        background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
        background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
        background-image: -o-linear-gradient(left, #ccc, #333, #ccc); */
}

code {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    background: rgb(var(--darker-gray-rgb));
    border-radius: 5px;
    white-space: pre-line;
}

table {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 10px;
}

thead {
    border-bottom: 1px solid rgb(var(--white-rgb));
}

tbody tr:nth-child(odd) {
    background-color: rgba(var(--darker-gray-rgb), 0.3);
}

tbody tr:nth-child(even) {
    background-color: rgba(var(--dark-gray-rgb), 0.3);
}

details :last-child {
    padding-bottom: 20px;
}

details {
    width: 80%;
    margin: 10px auto;
    background: rgba(var(--dark-gray-rgb), 0.75);
}

details summary {
    cursor: pointer;
    background: rgb(var(--darker-gray-rgb));
}

blockquote {
    width: 80%;
    display: block;
    text-align: left;
    border-left: 4px solid rgb(var(--white-rgb));
    margin: 1.5em auto;
    padding: 0.5em 1em;
}

#copyright {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: left;
    height: 30px;
    line-height: 30px;
    padding: 10px;
}

nav {
    height: 50px;
    width: 100%;
    z-index: 999;
    line-height: 50px;
    position: fixed;
    background: rgba(var(--darker-gray-rgb), 0.8);
    border-bottom: 2px solid rgb(var(--darker-gray-rgb));
}

nav .title {
    padding-left: 20px;
    text-decoration: none;
    font-size: 150%;
}

nav .icons {
    float: right;
    font-size: 3em;
}

nav .icons a {
    position: relative;
    height: 50px;
    width: 120px;
    margin: 0;
    box-sizing: border-box;
    float: right;
    text-align: center;
    font-size: 0.5em;
    text-decoration: none;
    transition: background 0.8s;
}

.icons a svg { transition: fill 0.5s ease; }
.icons a .twitter:hover { fill: var(--twitter-color); }
.icons a .twitch:hover { fill: var(--twitch-color); }
.icons a .github:hover { fill: var(--github-color); }

nav .icons a:hover {
    background: rgba(var(--white-rgb), 0.30);
    transition: background 1s;
}

nav .icons a:hover {
    stroke-width: 1;
    stroke: rgb(var(--white-rgb));
}

.icon {
    height: 30px;
    width: 120px;
    padding: 10px 0;
    fill: rgb(var(--white-rgb));
}

.title {
    margin-bottom: 0;
}

.date {
    margin-top: 0;
}


#left {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    position: fixed;
    background-color: rgba(var(--dark-gray-rgb), 0.7);
    border-right: 3px solid rgb(var(--darker-gray-rgb));
}

#left .content {
    margin: 0 5%;
    position: relative;
}

#left .content h1 {
    padding-top: 100px;
}

#right {
    width: 70%;
    height: 100%;
    float: right;
    margin-top: 50px;
    padding: 0 5%;
    text-align: center;
}

spoiler, spoiler * {
    padding: 1px 5px;
    background: black !important;
    color: black !important;
    user-select: none;
    cursor: pointer;
}

spoiler[active], spoiler[active] * {
    background: rgba(var(--darker-gray-rgb), 0.3);
    color: inherit !important;
    user-select: inherit !important;
    /* cursor: default; */
}
