@font-face {
   font-family: Exo;
   src: url("../fonts/Exo.ttf");
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

a, body {
    color: #fff;
}

hr {
	width: 90%;
	height: 4px;
	border: none;
	border-radius: 1px;
	background-image: -webkit-linear-gradient(left, #2B2B2B, #D8D8D8, #2B2B2B);
	background-image: -moz-linear-gradient(left, #2B2B2B, #D8D8D8, #2B2B2B);
	background-image: -ms-linear-gradient(left, #2B2B2B, #D8D8D8, #2B2B2B);
	background-image: -o-linear-gradient(left, #2B2B2B, #D8D8D8, #2B2B2B); 
}

.youtube:hover {
    color: #CC181E;
}

.twitter:hover {
    color: #6CADDE;
}

.twitch:hover {
    color: #6541A5;
}

.github:hover {
    color: #171515;
}

section:nth-of-type(1) {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(40,40,40,0.7);
	text-align: center;
	padding-top: 5em;
}