:root {
    --scrollbar-width: 17px;

    --btn-disabled: #808080;
    --btn-default-fallback: #336F82;
    --btn-default: linear-gradient(0deg, #335F6E 0%, #336F82 50%, #357990 100%);
    --btn-hover-fallback: #1A94A9;
    --btn-hover: linear-gradient(0deg, #2195AA 0%, #1DB7D3 50%, #1AA4BE 100%);
}

@font-face {
    font-family: "BankGothic";
    src: url("Bank\ Gothic\ Medium.otf") format("opentype");
}

#sanctumSteamLink {
    width: 50%;
    display: inline-block;
}

#imgTitle {
    font-family: "BankGothic", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#pageSelect .sanctumBtn {
    margin: 0 5px;
}

#prevPage, #nextPage {
    width: 200px;
}

h2 {
    padding-top: 2em;
}

h2, blockquote {
    font-family: "BankGothic", Arial, Helvetica, sans-serif;
    font-size: 125%;
    text-transform: uppercase;
}

blockquote {
    width: 90%;
}

table, tr, td {
    margin: 0 !important;
    border: none !important;
    background: none !important;
}

tr td:first-child {
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}

tr td:first-child:not(:empty):after {
    content: ":";
}

ul li {
    width: calc(100% - var(--scrollbar-width));
    padding: 5px 2px;
}

li .sanctumBtn {
    width: 100%;
}

.comicList {
    height: inherit;
    width: 100%;
    max-width: 100%;
    display: block;
    font-family: "BankGothic", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

/* TODO https://stackoverflow.com/questions/22168420/is-there-a-pointer-eventshoveronly-or-similar-in-css#answer-22170387 */
.sanctumBtn[disabled] {
    background: var(--btn-disabled) !important;
    pointer-events: none;
    cursor: not-allowed;
}

.sanctumBtn.active, .sanctumBtn.active:focus {
    background: var(--btn-hover-fallback);
    background: var(--btn-hover);
}

.sanctumBtn {
    font-size: 125%;
    font-family: "BankGothic", Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    margin: 5px;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    text-shadow: 1.5px 1px 1px black;
    background: var(--btn-default-fallback);
    background: var(--btn-default);
}

.sanctumBtn:hover {
    background: var(--btn-hover-fallback);
    background: var(--btn-hover);
}

.sanctumBtn:focus {
    /*
        Sanctum has a weird inconsistency where some UI elements revert to non-hover
        colors when focused while other elements change all the colors
        (including the white border) to a light blue color (#2BB4DD).
        Since I didn't want to deal with modifying the ::before/::after
        only when focused, I took the easy route out.
    */
    background: var(--btn-default-fallback);
    background: var(--btn-default);
}

/* Huge thanks to @Oliver-Akins for the help on the border styling */
.sanctumBtn::after,
.sanctumBtn::before {
    width: calc(100% + 8px);
    height: 20%;
    content: "";
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    margin: 0;
}

.sanctumBtn::before {
    top: -20%;
    left: -5px;
    border-radius: 1px 1px 0 0;
    border-style: solid solid none solid;
}
.sanctumBtn::after {
    bottom: -20%;
    left: -5px;
    border-radius: 0 0 1px 1px;
    border-style: none solid solid solid;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.grid-item {
    text-align: center;
}

@media screen and (max-width: 850px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    #comicPreview {
        order: 1;
    }

    #chapterList {
        order: 2;
        padding-top: 40px;
    }

    #sanctumSteamLink {
        width: 80%;
    }

    table, tbody, tr, td {
        width: inherit !important;
    }

    tr td {
        width: inherit;
        display: inline-block;
        font-size: 80%;
        text-align: left !important;
    }

    tr td:first-child {
        padding-top: 10px;
    }

    tr td:empty {
        display: none;
    }
}