html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
  font-family:Raleway;
  background-color:rgba(50,50,50,0.7);
}
svg {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  z-index:-999;
}
section {
  display:block;
  margin:0;
  height:100%;
  width:100%;
}
section:nth-child(3) {
  height:70%;
  text-align:center;
  color:white;
}
section:nth-child(3) h1 {
  font-size:4vw;
  margin-top:260px;
}
section:nth-child(4) {
  background-color:#eee;
  color:#333;
  padding-top:5px;
  text-align:center;
  position:relative;
}

article {
  background-color:#333;
  color:#eee;
  height:300px;
  padding-top:50px;
  box-sizing:border-box;
  position:absolute;
  width:100%;
  bottom:40px;
}

article a {
  font-size:8vw;
  color:white;
  text-decoration:none;
  opacity:0.5;
  transition: opacity 2s;
  display:inline-block;
  margin-left:5px;
}

article a:hover {
  opacity:1;
  transition: opacity 0.8s;
}

footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  border-top:3px solid #BBB;
  height:40px;
  line-height:40px;
}
nav {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:60px;
  width:100%;
  line-height:60px;
  color:white;
  background-color:rgb(50,50,50);
  transition: background-color 0.8s;
  border-bottom: 1px solid white;
  text-align:center;
  z-index:999;
}
body.scrolled nav {
  background-color:rgba(50,50,50,1);
  transition: background-color 0.8s;
}
nav a {
  float:right;
  display:inline-block;
  height:60px;
  width:120px;
  box-sizing:border-box;
  color:white;
  font-size:18px;
  text-decoration:none;
  border-bottom:3px solid black;
  border-color:rgba(50,50,50,0);
  transition: border-color 0.8s;
}
nav a:hover {
  border-color:rgba(200,20,20,1);
  transition: border-color 0.8s;
}
nav a i {
  font-size:24px;
  margin-right:3px;
}
nav a:first-child {
  margin-right:15px;
}

#social1 {
  width:20%;
  display:inline-block;
}
#social2 {
  width:70%;
  display:inline-block;
}

@media screen and (max-width: 900px) {
  #social1,
  #social2 {
    width:95%;
    margin:0 auto;
    display:block;
  }
