/*
* {
    border: 2px solid black;
}
*/

 a:link, a:visited {
  color: #00b0ff;
}

a:hover {
	color: #0470b8;
}

body {
    color: white;
    background-color: #4a4949;
}
 
button {
   border-top: 1px solid #736f6d;
   background: #5e5957;
   background: -webkit-gradient(linear, left top, left bottom, from(#736f6d), to(#5e5957));
   background: -webkit-linear-gradient(top, #736f6d, #5e5957);
   background: -moz-linear-gradient(top, #736f6d, #5e5957);
   background: -ms-linear-gradient(top, #736f6d, #5e5957);
   background: -o-linear-gradient(top, #736f6d, #5e5957);
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
    
button:hover {
   border-top-color: #524e4c;
   background: #524e4c;
   color: #ccc;
   }
    
button:active {
   border-top-color: #524e4c;
   background: #524e4c;
   }
 
p {
    color: white;
}
 
iframe {
    background-color: #606060;
}
 
.center {
    text-align: center;
}
 
.col-border {
    border: 1px solid #919191;
}
 
.col-md-4 h3 {
    color: white;
}
 
.col-md-6 {
    text-align: center;
}
 
.container {
    width: 85%;
}
 
.thumbnail {
    background-color: #585755;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #585755;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
 
.main-content .container {
    background-color: #707070;
}
 
.nav {
    color: white;
}
 
.nav a {
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
 
.nav li {
  display: inline;
}
 
.jumbotron {
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
   
}
 
.jumbotron .container {
  position: relative;
  top:20%;
}
 
.jumbotron h1 {
  color: white;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
 
.jumbotron p {
  color: white;
}
 
.more-tabs {
  background-color: #403e3e;
  color: white;
}
 
.gray-footer h3 {
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
 
.main-content {
    background-color: #595756;
    color: white;
    border-bottom: 1px solid #919191;
    border-top: 1px solid #919191;
}
 
.tab-content {
    background-color: #595756;
    color: #595756;
}
 
#hidden-link {
    cursor: default;
    text-decoration: none;
    color: white;
}
 
#hidden-text {
    color: #4A4949;
}