.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  
  /* Somehow get cyndaquil walking gif in front of gradient */
  background : -webkit-linear-gradient(left, #FDE181 00%, #FD9D4F 25%, #FD7303 50%, #FD5039 75%, #FD4403 100%);
  background : -moz-linear-gradient(left, #FDE181 00%, #FD9D4F 25%, #FD7303 50%, #FD5039 75%, #FD4403 100%);
  background : -o-linear-gradient(left, #FDE181 00%, #FD9D4F 25%, #FD7303 50%, #FD5039 75%, #FD4403 100%);
  background : -ms-linear-gradient(left, #FDE181 00%, #FD9D4F 25%, #FD7303 50%,#FD5039 75%, #FD4403 100%);
  background : -linear-gradient(left, #FDE181 00%, #FD9D4F 25%, #FD7303 50%, #FD5039 75%, #FD4403 100%);

  pointer-events: none;
}

.pace-inactive {
    display: none !important;
}