nav a {
    width:90px;
}
nav a:after {
    width:90px;
}

.body_nav {
    font-weight: 800;
    padding-bottom: 1em;
}

hr {
    width: 75%;
}

@media only screen and (max-width: 800px) {
    /* Fix nav bar */
}