@import url(http://fonts.googleapis.com/css?family=Ubuntu);

section:nth-of-type(1) {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(40,40,40,0.7);
	text-align: center;
	padding-top: 5em;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	background: #8883AD;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	height: 60px;
	width: 100%;
	padding-left: 10px;
	line-height: 60px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.25);
	transition: background-color 0.5s;
	font-size: 2em;
}

nav a {
    font-family: Capitals,Impact,fantasy;
    transition: text-shadow 0.5s;
	transition: color 0.5s;
	position: relative;
	display: inline-block;
	height: 60px;
	width: 120px;
	margin: 0;
	box-sizing: border-box;
	float: right;
	text-align: center;
	font-size: 0.5em;
	text-decoration: none;
	transition:background 0.8s
}

nav a:hover {
    background: #C9CACD;
	background: rgba(255, 255, 255, 0.30);
	transition: background 1s;
}

nav a .fa:hover {
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

nav a .fa {
    height: 60px;
	width: 120px;
}

ul {
    list-style: none;
}

body {
    color: #fff;
}

a {
    color: #77C5F7;
}

.youtube:hover {
    color: #CC181E;
}

.twitter:hover {
    color: #6CADDE;
}

.twitch:hover {
    color: #6541A5;
}

.github:hover {
    color: #171515;
}

.warning {
    color: #D25252;
}

.body {
    text-align: center;
    padding-top: 60px;
}

.body_nav {
    font-weight: 800;
    padding-bottom: 1em;
}

/* http://www.colourlovers.com/palette/490780/The_First_Raindrop */

.question {
    color: #19C2FF;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.answer {
    color: #E8F3F8;
}

hr {
    opacity: 0.45;
}

#gdoc {
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 200;
}

iframe#gdoc {
    overflow: hidden;
    overflow-y: hidden;
    height: 900px;
    width: 550px;
    padding-bottom: 2em;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	text-align: right;
	height: 30px;
	line-height: 30px;
	font-size: smaller;
	z-index: 9001;
}

/* http://stackoverflow.com/questions/7061420/how-do-i-animate-a-glowing-effect-on-text */
/* http://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp */
/* http://stackoverflow.com/questions/16783554/how-to-make-css-animation-to-play-every-10-seconds */

#FAQ:target, #howtoplay:target, #code:target {
    /* Add moz- webkit- o- etc to DESKTOP css file */
    animation: glow 3s infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 1px #2F9A9F; /* E8F3F8 DBE6EC */
        color: #E8F3F8;
    }
    50% {
        text-shadow: 0 0 4px #2F9A9F;
        color: #80D2D5;
    }
    100% {
        text-shadow: 0 0 1px #2F9A9F;
        color: #E8F3F8;
    }
}

#ascrail2000 {
    padding-right: 5px;
    opacity: 0.5;
}