body {
	background: #E9E9E9; 
	background-image: url('../images/cake.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover;
}

.body {
	background-color: rgba(221, 221, 221, 0.30);
	border: 2px solid #808080;
	border-radius: 5px;
	text-align: center;
	margin: 0px auto;
	width: 75%;
}