@font-face {
   font-family: Exo;
   src: url("../fonts/Exo.ttf");
}

html {	
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-family: 'Exo', sans-serif;
	background-image: url("../images/bg.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position: center;
}

body {
    color: white;
}

section:nth-of-type(1) {
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(40,40,40,0.7);
	text-align: center;
	padding-top: 5em;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	height: 60px;
	width: 100%;
	padding-left: 10px;
	line-height: 60px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.25);
	transition: background-color 0.5s;
	font-size: 2em;
}

nav a  {
	position: relative;
	display: inline-block;
	height: 61px;
	width: 120px;
	margin: 0;
	box-sizing: border-box;
	float: right;
	text-align: center;
	font-size: 0.5em;
	color: white;
	text-decoration: none;
	transition:background 0.8s
}

nav a:hover {
	background: rgba(255, 255, 255, 0.30);
	transition: background 1s;
}

.youtube {
    color: #CC181E;
    transition: color 1s;
}

.twitter {
    color: #6CADDE;
    transition: color 1s;
}

.twitch {
    color: #6541A5;
    transition: color 1s;
}

.github {
    color: #171515;
    transition: color 1s;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	text-align: right;
	height: 30px;
	line-height: 30px;
	font-size: smaller;
}

footer a {
	color: white;
}
