@import url(http://fonts.googleapis.com/css?family=Ubuntu);

section:nth-of-type(1) {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(40,40,40,0.7);
	text-align: center;
	padding-top: 5em;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	background: #8883AD;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

nav a {
    color: #font-family: Capitals,Impact,fantasy;;
    transition: text-shadow 0.5s;
	transition: color 0.5s;
}

nav a:hover {
    background: #C9CACD;
	background: rgba(255, 255, 255, 0.30);
	transition: background 1s;
}

nav a .fa:hover {
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

ul {
    list-style: none;
}

a, body {
    color: #fff;
}

a {
    color: #77C5F7;
}

.youtube:hover {
    color: #CC181E;
}

.twitter:hover {
    color: #6CADDE;
}

.twitch:hover {
    color: #6541A5;
}

.github:hover {
    color: #171515;
}

.warning {
    color: #D25252;
}

.body {
    text-align: center;
    padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 1em;
}

/* http://www.colourlovers.com/palette/490780/The_First_Raindrop */

.question {
    color: #73C6D4;
}

.answer {
    color: #E8F3F8;
}

hr {
    width: 15%;
    opacity: 0.45;
}