html {
    background-image: url("../images/bg/desktop.jpg");
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	height: 60px;
	width: 100%;
	padding-left: 10px;
	line-height: 60px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.25);
	transition: background-color 0.5s;
	font-size: 2em;
}

nav a  {
	position: relative;
	display: inline-block;
	height: 60px;
	width: 120px;
	margin: 0;
	box-sizing: border-box;
	float: right;
	text-align: center;
	font-size: 0.5em;
	text-decoration: none;
	transition:background 0.8s
}

nav a .fa {
    height: 60px;
	width: 120px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	text-align: right;
	height: 30px;
	line-height: 30px;
	font-size: smaller;
}

/* TODO: Make hover look cleaner and add transitions */
/* http://stackoverflow.com/questions/2011142/how-to-change-the-style-of-title-attribute-inside-the-anchor-tag */

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  width: 105px;
  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}